/* // Color: */
.container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

  .cube-container {
    $cube-size: 300px;
    $perspective: 600px;
    $cube-perspective: 150px;
    width: $cube-size;
    height: $cube-size;
    perspective: $perspective;
    @mixin transform-face($orientation, $deg, $perspective: $cube-perspective) {
          transform: rotate#{$orientation}unquote("(#{$deg})") translateZ($perspective);
        }
    .cube {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      transform: translateZ(-$cube-perspective) rotateX(-25deg) rotateY(-50deg);

      .face {
        position: absolute;
        height: $cube-size;
        width: $cube-size;
        display: flex;
        justify-content: center;
        align-items: center;
        // We will remove background color later
        background-color: rgba(white, 0.5);
        border: solid 3px white;
        &.front { @include transform-face(Y, 0deg); }
        &.back { @include transform-face(Y, 180deg); }
        &.top { @include transform-face(X, 90deg); }
        &.bottom { @include transform-face(X, -90deg); }
        &.left { @include transform-face(Y, 90deg); }
        &.right { @include transform-face(Y, -90deg); }

      }
    }
  }
}
body, html {
  margin: 0;
}
