/* selector { */
  /* attribute: value; */
/* } */

img {
position: absolute;
top: -50px;
right: 600px;
}

video {
  width: 70%;
  position: absolute;
  top: 110px;
  right: 210px;
  padding: 5px;
  border: 1px solid blue;
}












/* First try */
/* img {
  height: 100px;
}

a {
  display: block;
  width: 100%;
  color: orange;
}

.link-to-comic {
  color: green;
}

.fun-fact {
  width: 300px;
  position: absolute;
} */
