body{
    background-image: url('stars.jpg');
    background-size: cover;
    perspective: 1500px;
    height: 100vh;
    margin:0;
}

.top{
    background-image: url('stars.jpg');
    background-size: cover;
    height: 150px;
    width: auto;
    color: white;
    text-align: center;
    font-size: 60px;
    /* font-family: 'Reggae One', cursive; */
    font-family: 'DotGothic16', sans-serif;
}
.main {
  width: 400px;
  height: 400px;
  top:100px;
  margin: auto;
  perspective: 800px;
}

.cube {
    width: 400px;
    height: 400px;
    top:50 px;
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
    transform: translateZ(-100px);
    transition: transform 1s;
    /* transform: rotateX(200deg) rotateY(-230deg) */
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.face {
    position: absolute;
    background-size: 400px 400px;
    width: 400px;
    height: 400px;
    /* background-size: cover; */
}

.face-front{
    background-image: url('yellow.png');
    transform: rotateY(0deg) translateZ(200px);
}

.face-back{
    background-image: url('blue.png');
    transform: rotateY(180deg) translateZ(200px);
}

.face-left{
    background-image: url('red.png');
    transform: rotateY(-90deg) translateZ(200px);
}

.face-top{
    background-image: url('orange.png');
    transform: rotateX( 90deg) translateZ(200px);
}

.face-bottom{
    background-image: url('tp.png');
    transform: rotateX(-90deg) translateZ(200px);
}

.face-right{
    background-image: url('green.png');
    transform: rotateY( 90deg) translateZ(200px);
}

.radioButtons {
    display: flex;
    justify-content: center;
    color: white;
}
