body{
    background-image: url('stars.jpg');
    background-size: cover;
    perspective: 1500px;
    height: 100vh;
    margin:0;
}

/* Setting up the background and title of the website. */
.top{
    background-image: url('stars.jpg');
    background-size: cover;
    height: 150px;
    width: auto;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'DotGothic16', sans-serif;
}

/* For the cube and radio buttons */
.main {
  width: 400px;
  height: 400px;
  top:100px;
  margin: auto;
  perspective: 800px;
}

/* For the cube */
.cube {
    width: 400px;
    height: 400px;
    top:50 px;
    /* Rotating the cube as a whole, the time for the animation is set here. */
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

/* Rotates the cube depending on which face needs to face forward. */
.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

/* Setting the size and position of the faces */
.face {
    position: absolute;
    background-size: 400px 400px;
    width: 400px;
    height: 400px;
}

/* Setting the panel for each face of the cube.
Including the transformations for the individual faces when the cube rotates
(The cube rotates as a whole given the overarching cube class)*/
.face-front{
    background-image: url('yellow.png');
    transform: rotateY(0deg) translateZ(200px);
}

.face-back{
    background-image: url('blue.png');
    transform: rotateY(180deg) translateZ(200px);
}

.face-left{
    background-image: url('red.png');
    transform: rotateY(-90deg) translateZ(200px);
}

.face-top{
    background-image: url('orange.gif');
    transform: rotateX( 90deg) translateZ(200px);
}

.face-bottom{
    background-image: url('grey.gif');
    transform: rotateX(-90deg) translateZ(200px);
}

.face-right{
    background-image: url('green.gif');
    transform: rotateY( 90deg) translateZ(200px);
}

/* Setting the position and colour of the radio buttons */
.radioButtons {
    display: flex;
    justify-content: center;
    color: white;
}
