#sriLanka{
  position: absolute;
  height: 50vh;
  left: 50vh;
  top: 20vh;
}

.slTitle{
  text-align: center;
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
}

.instructions{
  text-align: center;
  font-size: 20px;
}
