body, html {
  padding: 0;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Adding the documentation
and the note about needing a browser compatible with autoplay */
.documentation {
  position: absolute;
  color: black;
  font-family: 'Raleway', sans-serif;
  bottom: 5%;
  left: 25%;
  text-align: center;
  width: 50vw;
}

/* styling the hyperlinks */
a {
 text-decoration: none;
 color: #9c261e;
 font-weight: 800;
}

a:hover {
 text-decoration: none;
 color: #153f94;
 font-weight: 800;
}


/* I tried using the same class for all the images to shorten the code, but it
kept messing up the positioning, so I had to write the code for each image */
#audioLogo img {
    position: absolute;
    padding: 1vw;
    right: 0;
    bottom: 0;
    width: 20vw;
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s;
    max-width: 100%;
    display: block;
}

/* expansion and coloring effect when hovering */
#audioLogo img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  width: 22vw;
}

#comicLogo img {
    position: absolute;
    padding: 1vw;
    left: 0;
    bottom: 0;
    width: 20vw;
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s;
    max-width: 100%;
    display: block;
}

#comicLogo img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  width: 22vw;
}

#filmfestLogo img {
    position: absolute;
    padding: 1vw;
    left: 0;
    top: 0;
    width: 20vw;
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s;
    max-width: 100%;
    display: block;
}

#filmfestLogo img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  width: 22vw;
}

#videoLogo img {
    position: absolute;
    padding: 1vw;
    right: 0;
    top: 0;
    width: 20vw;
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s;
    max-width: 100%;
    display: block;
}

#videoLogo img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  width: 22vw;
}

/* responsiveness */
#MainContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* speech bubble */
#search {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: .4em;
  background: #9c261e;
}

.search:after {
	content: '';
	bottom: 0;
	left: 50%;
  position: absolute;
	border: 20px solid transparent;
	border-top-color: #9c261e;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

/* text in the speech bubble */
#typewriteTextt {
  border: 1px solid #6b6b6b;;
  color: white;
  padding: 2vmin 0vmin 2vmin 2vmin;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: none;
}
