body, html {
  padding: 0;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

#audioLogo img {
    position: absolute;
    padding: 1vw;
    right: 0;
    bottom: 0;
    width: 20vw;
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s;
    max-width: 100%;
    display: block;
}

#audioLogo img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  width: 22vw;
}

#comicLogo img {
    position: absolute;
    padding: 1vw;
    left: 0;
    bottom: 0;
    width: 20vw;
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s;
    max-width: 100%;
    display: block;
}

#comicLogo img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  width: 22vw;
}

#filmfestLogo img {
    position: absolute;
    padding: 1vw;
    left: 0;
    top: 0;
    width: 20vw;
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s;
    max-width: 100%;
    display: block;
}

#filmfestLogo img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  width: 22vw;
}

#videoLogo img {
    position: absolute;
    padding: 1vw;
    right: 0;
    top: 0;
    width: 20vw;
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s;
    max-width: 100%;
    display: block;
}

#videoLogo img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  width: 22vw;
}

#MainContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#search {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: .4em;
  background: #6b6b6b;
}

.search:after {
	content: '';
	bottom: 0;
	left: 50%;
  position: absolute;
	border: 20px solid transparent;
	border-top-color: #6b6b6b;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

#typewriteTextt {
  border: 1px solid #6b6b6b;;
  color: white;
  padding: 2vmin 0vmin 2vmin 2vmin;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: none;
}

#MainContainer {
  display: flex;
}

.search {
  background-color: blue;
  grid-row-start: 1;
  grid-column-start: 2;
}


@media and (max-width: 800px) {

  #audioLogo img {
  position: inherit;
  }

  #videoLogo img {
  position: inherit;
  }

  #filmfestLogo img {
  position: inherit;
  }

  #comicLogo img {
  position: inherit;
  }

  #search {
    position: inherit;
  }

  .search:after {
    position: inherit;
  }

  #MainContainer {
    display: flex;
    flex-direction: column;
  }

}
